
.custom-font-size-course-table {
font-size: 0.6rem;
}
@media (min-width: 391px) {
    .custom-font-size-course-table {
    font-size: 0.7rem;
    }
}
@media (min-width: 576px) {
    .custom-font-size-course-table {
    font-size: 0.85rem;
    }
}
@media (min-width: 768px) {
    .custom-font-size-course-table {
    font-size: 0.9rem;
    }
}

