
.custom-font-size-course-table{
font-size: 0.4rem;
}

@media (min-width: 576px) {
    .custom-font-size-course-table {
    font-size: 0.6rem;
    }
}
@media (min-width: 768px) {
    .custom-font-size-course-table {
    font-size: 0.75rem;
    }
}

@media (min-width: 992px) { 
    .custom-font-size-course-table {
    font-size: 0.85rem;
}
}