
.custom-course-image-1 {
  height: 10rem;
  object-position: center;
  margin-top: 0.5rem;
  filter: opacity(75%);
}

@media (min-width: 362px) {
  .custom-course-image-1 {
    height: 9rem;
    filter: opacity(75%);
  }
}

@media (min-width: 576px) {
  .custom-course-image-1 {
    height: 14.5rem;
    filter: opacity(75%);
  }
}
@media (min-width: 768px) {
  .custom-course-image-1 {
    height: 15rem;
    filter: opacity(75%);
  }
}

.custom-course-image-2 {
  height: 6rem;
  object-fit: cover;
  object-position: center;
  filter: opacity(75%);
}

@media (min-width: 362px) {
  .custom-course-image-2 {
    height: 8rem;
  }
}

@media (min-width: 576px) {
  .custom-course-image-2 {
    height: 6rem;
  }
}

@media (min-width: 768px) {
  .custom-course-image-2 {
    height: 7.5rem;
  }
}

@media (min-width: 992px) { 
  .custom-course-image-2 {
  height: 8.5rem;
  
}
};

  .custom-font-size {
    font-size: 0.9rem;
     @media (min-width: 576px) {
         font-size: 0.9rem;
     }
   
     @media (min-width: 768px) { 
         font-size: 0.9rem;
     }
   
     @media (min-width: 992px) { 
         font-size: 1rem;
     }
   
     @media (min-width: 1200px) {
         font-size: 1rem;
     }
   }

  .no-underline {
    text-decoration: none;
  };
