
.custom-course-image-1 {
  height: 23rem;
  width: 19rem;
  object-fit: cover;
  object-position: center;
  margin-top: 0.5rem;
}

@media (min-width: 576px) {
  .custom-course-image-1 {
    height: 15.5rem;
  }
}

@media (min-width: 768px) {
  .custom-course-image-1 {
    height: 16rem;
  }
}

.custom-course-image-2 {
  height: 7rem;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 576px) {
  .custom-course-image-2 {
    height: 6.5rem;
  }
}

@media (min-width: 768px) {
  .custom-course-image-2 {
    height: 7.5rem;
  }
}

@media (min-width: 992px) { 
  .custom-course-image-2 {
  height: 8.5rem;
  
}
};

  .custom-font-size {
    font-size: 0.9rem;
     @media (min-width: 576px) {
         font-size: 0.9rem;
     }
   
     @media (min-width: 768px) { 
         font-size: 0.9rem;
     }
   
     @media (min-width: 992px) { 
         font-size: 1rem;
     }
   
     @media (min-width: 1200px) {
         font-size: 1rem;
     }
   }

  .no-underline {
    text-decoration: none;
  };
