.navbar-custom-toggler {
  flex: 0 0 25% !important;
  max-width: 25% !important;
}

.div.drop.down-menu.show{

  padding: 0;
  margin: 0;
  width: 5%;
}

@media (min-width: 762px) {
  .hide-on-large {
    display: none !important;
  }
};

@media (max-width: 992px) {
.hide-on-small {
  display: none !important;
}
};

@media (max-width: 489px) {
  .hide-on-small-screen {
    display: none;
  }
};
@media (min-width: 490px) {
  .hide-on-small-screen {
    display: inline; /* o inline-block según lo que necesites */
  }
}





