.custom-admin-administrators-font-size {

    font-size: 0.8rem;
    };

    @media (min-width: 384px) {
        .custom-admin-administrators-font-size {
        font-size: 0.8rem;
        }
    }

    @media (min-width: 576px) {
        .custom-admin-administrators-font-size {
        font-size: 0.9rem;
        }
    }
    @media (min-width: 768px) {
        .custom-admin-administrators-font-size {
        font-size: 1,1rem;
        }
    }
    
    @media (min-width: 992px) { 
        .custom-admin-administrators-font-size {
        font-size: 1.15rem;
    }
    };
